<div class="main">
  <h2>{{}}</h2>
  <p>
    Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    Текст Текст Текст ТекстТекстТекстТекст ТекстТекстТекстТекстТ
    Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    Текст Текст Текст ТекстТекстТекстТекст ТекстТекстТекстТекстТ
    Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    Текст Текст Текст ТекстТекстТекстТекст ТекстТекстТекстТекстТ
    Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    Текст Текст Текст ТекстТекстТекстТекст ТекстТекстТекстТекстТ
    Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    Текст Текст Текст ТекстТекстТекстТекст ТекстТекстТекстТекстТ
    Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    Текст Текст Текст ТекстТекстТекстТекст ТекстТекстТекстТекстТ
  </p>
</div>

