@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, span, a{
  font-family: 'Open Sans', sans-serif;
}

html, body, div, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div, header, footer{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

input[type=text] {
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  outline: none;

  &:focus{
    border: 1px solid black;
  }
}
