<header>
  <div class="ul">
    <div class="li"><a href="#">ЛИАЗ документация</a></div>
    <div class="li li-search">
      <form action="#">
        <label for="search"><span>Поиск</span></label>
        <input type="text" id="search">
      </form>
    </div>
  </div>
</header>
<div class="main">
  <div class="content">
    <app-content></app-content>
  </div>
  <div class="renderarea">
    <app-renderarea></app-renderarea>
  </div>
</div>
<footer>
  <span>Все права защищены</span>
</footer>

