<div class="main">
  <div class="ul">
    <div class="li">
      <span>Глава 1</span>
      <div class="ul">
        <div class="li">
          <span>Раздел 1</span>
          <div class="ul">
            <div class="li">
              <span>Подраздел 1</span>
            </div>
            <div class="li">
              <span>Подраздел 2</span>
            </div>
          </div>
        </div>
        <div class="li">
          <span>Раздел 2</span>
        </div>
        <div class="li"></div>
      </div>
    </div>
  </div>
</div>
